.secondSection section{
    width: 65rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
.secondSection h1{
   text-align: center;
 }

 .secondSection button{
    padding: 0.8rem;
    margin: 0.4rem;
    background-color: blue;
    color: white;
    border-radius: 0.7rem; 
 }
 .secondSection button:focus{
    background-color: rgba(156, 180, 17, 0.811);
 }
 .secondSection .disabled{
   background-color: red;
   color: white;
 
 }
 @media (max-width: 425px) {
   .secondSection section{
      width: 90%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }
   .secondSection button{
      padding: 0.8rem;
      margin: 0.4rem;
      background-color: rgb(115, 115, 230);
      color: rgb(7, 1, 48);
      border-radius: 0.7rem; 
   }
 }