.booking {
  margin: 1rem 37rem;
  padding: 0.8rem 1.8rem;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  border-radius: 15px;
  background-color: chartreuse;
  color: rgb(1, 5, 9);
  cursor: pointer;
}
.section{
   margin-top: 10vh;
}

.booking:hover {
  background-color: rgb(53, 53, 200);
  color: aliceblue;
}
.seats {
  margin: auto 35rem;
}
.seats h3 {
  text-align: center;
}
