* {
  padding: 0;
  margin: 0;
}

.movie {
  display: flex;
  flex-wrap: wrap;
  margin-top: 13vh;
  width: 100%;
  justify-content: center;
}
.movies div {
  height: 21rem;
  width: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;

  align-items: center;
  background-color: rgb(113, 76, 95);
}
.movies div img {
  height: 150px;
  width: 200px;
  border-radius: 20%;
  margin-top: 1rem;
}
.movies div button {
  padding: 10px 20px;
  font-size: 19px;
  margin-bottom: 2rem;
  border: none;
  border-radius: 2rem;
}
.movies div button:hover {
  background-color: chartreuse;
  cursor: pointer;
  color: rgb(8, 56, 104);
  font-weight: bolder;
}
.movies div p {
  text-align: center;
  font-size: 22px;
  color: beige;
}
.movies div p span {
  color: rgb(39, 136, 172);
  font-weight: bolder;
}
@media (max-width: 425px) {
  .movies div {
    height: 11.5rem;
    width: 75%;
    margin-left: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(11, 2, 36);
  }
  .movies div img {
    height: 60px;
    width: 60px;
    border-radius: 2%;
    margin-top: 0.1rem;
  }
  .movies div p {
    text-align: center;
    font-size: 1rem;
    color: beige;
  }
  .movies div button {
    padding: 5px 10px;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
  }
  .movie {
    margin-top: 10vh;
    background-color: rgb(240, 239, 238);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .movies{
    width: 50%;
  }
}
